a {
  color: black;
}
a:hover {
  color: black;
}

a:active {
  color: white;
}

.item {
  cursor: pointer;
  border-radius: 10px !important;
}

.item:hover {
  background-color: rgba(214, 208, 208, 0.1);
}

.clickedItem {
  cursor: pointer;
  border-radius: 10px !important;
  background-color: rgba(214, 48, 49, 0.2);
}
